.demonnotice_notice { background: #E5E58F;  text-align: center; color: #000000; width: 100%;  z-index:999; padding: 5px; }
.demonnotice_notice p { margin: 0px;}
.demonnotice_notice.header { position: fixed; top: 0px; left:0px;  } 
.demonnotice_notice.footer { position: fixed; bottom: 0px; left:0px;  } 
